body {
  margin: 0;
  padding: 0;
  background: white;
  font-family: sans-serif;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  margin: 0;
}

.footer{
  color: brown;
  justify-content: center;
}

