body {
  margin: 0;
  padding: 0;
  background: #250008;
  font-family: sans-serif;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  height: 570px;
  background: white;
}


